# Assets
assets/*

# Assets exception
!assets/coverage
!assets/dockerfile
!assets/template

# Assets exception
!assets/.gitkeep

# Byte-compiled
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Documentation generated
docs/

# Environments
.python-version
venv

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
logs/*

# Log files exception
!logs/.gitkeep

# MacOSX
.AppleDouble
.DS_Store
.LSOverride

# PyCharm
.idea/

# Secrets
secrets/*

# Secrets exception
!secrets/.gitkeep

# Temporary
.scratch/
.scratch*
.temp/
.temp*
.tmp/
.tmp*

# Testing
.pytest_cache/

# VSCode
.vscode/
