repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.4.0
        hooks:
        - id: check-added-large-files
          args: ['--enforce-all']
        - id: check-ast
        - id: check-json
        - id: pretty-format-json
        - id: check-merge-conflict
        - id: check-shebang-scripts-are-executable
        - id: check-symlinks
        - id: check-toml
        - id: check-vcs-permalinks
        - id: check-xml
        - id: check-yaml
        - id: debug-statements
        - id: detect-aws-credentials
          args: [--allow-missing-credentials]
        - id: detect-private-key
        - id: end-of-file-fixer

    -   repo: https://github.com/sqlfluff/sqlfluff
        rev: 2.0.1
        hooks:
        - id: sqlfluff-lint
        - id: sqlfluff-fix

    -   repo: https://gitlab.com/iamlikeme/nbhooks
        rev: 1.0.0
        hooks:
        - id: nb-ensure-clean

    -   repo: https://github.com/PyCQA/docformatter
        rev: v1.6.0-rc7
        hooks:
        - id: docformatter
          args: [--in-place, --wrap-summaries=88, --wrap-descriptions=88]

    -   repo: https://github.com/pycqa/isort
        rev: 5.12.0
        hooks:
        - id: isort

    -   repo: https://github.com/asottile/add-trailing-comma
        rev: v2.4.0
        hooks:
        - id: add-trailing-comma
          args: [--py36-plus]

    -   repo: https://github.com/asottile/pyupgrade
        rev: v3.3.1
        hooks:
        - id: pyupgrade

    -   repo: https://github.com/psf/black
        rev: 23.1.0
        hooks:
        - id: black-jupyter
          language_version: python3.9

    -   repo: https://github.com/asottile/blacken-docs
        rev: 1.13.0
        hooks:
        - id: blacken-docs
          args: [--line-length=88]

    -   repo: https://github.com/pycqa/flake8
        rev: 6.0.0
        hooks:
        - id: flake8
          additional_dependencies: [flake8-bugbear]
